body {
  margin: 0;
}

#app {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-family-main);
}

:root {
  --font-family-logo: 'Seymour One', sans-serif;
  --font-family-main: 'Roboto', sans-serif;
  --font-family-title: 'Arvo', serif;
  --color-brand: #301a4b;
  --color-secondary: #6db1bf;
  --color-light: #fdfdfd;
  --color-pink: #f39a9d;
  --color-green: #3f6c51;
  --color-text-light: #ffffff;
  --color-text: #222;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-title);
  margin-top: 0;
}
